// n is number of stars required
@function multiple-box-shadow ($n) {
  $value: '#{random(2000)}px #{random(6000)}px #777';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(6000)}px #777';
  }

  @return unquote($value);
}

$shadows-small:  multiple-box-shadow(2100);
$shadows-medium: multiple-box-shadow(600);
$shadows-big:    multiple-box-shadow(300);

html {
  background: #090A0F;
}
    
#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  position: absolute;
    
  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  position: absolute;
    
  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}
    
#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  position: absolute;
    
  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}
    
@keyframes animStar {
  from	{
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}