<ion-view title="{{action}}">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button ng-click="programGoBack()">
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <button ng-hide="isNew" ng-click="delete()" class="button button-clear animZoomIn"><i class="icon ion-trash-a"></i></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div id="program form" class="dark-form-bg" ng-hide="clickedCalendar">
      <label class="item item-input">
        <span class="input-label"><i class="icon ion-edit"></i> Name</span>
        <input type="text" ng-model="program.name">
      </label>
      <label class="item item-input">
        <span class="input-label"><i class="icon ion-edit"></i> Tags</span>
        <input type="text" ng-model="program.tags">
      </label>
    </div>
    <div ng-hide="isNew" class="calendar stable-bg animFadeInDown">
      <div class="row">
        <div class="col" style="padding-top:0px; padding-bottom:10px;">&nbsp;</div>
        <div class="col heading">S</div>
        <div class="col heading">M</div>
        <div class="col heading">T</div>
        <div class="col heading">W</div>
        <div class="col heading">T</div>
        <div class="col heading">F</div>
        <div class="col heading">S</div>
      </div>
      <div ng-show="program.calendarSummary[$index].display" ng-class="{'calendarRow-anim' : program.calendarSummary[$index].display}" ng-repeat="w in program.calendarSummary track by $index" ng-init="weekIndex = $index" class="row calendarRow">
        <div class="col heading" style="padding-top:0px; padding-bottom:10px;">
          {{$index+1}}
        </div>
        <div class="col" style="padding-top:0px; padding-bottom:10px;" ng-repeat="d in w.days track by $index">
          <button class="button button-small button-fab button-stable" ng-class="{'button-dark': (week==weekIndex && day==$index)}" ng-click="clickCalendar(weekIndex, $index)">
            <div ng-show="d > 0" style="height:5px;width:5px;background:#2196F3;border-radius:50%;position:relative;z-index:10000;display:inline-block;top:-2.5px;"></div>
            <div ng-show="d > 1" style="height:5px;width:5px;background:#2196F3;border-radius:50%;position:relative;z-index:10000;display:inline-block;top:-2.5px;"></div>
            <div ng-show="d > 2" style="height:5px;width:5px;background:#2196F3;border-radius:50%;position:relative;z-index:10000;display:inline-block;top:-2.5px;"></div>
          </button>
        </div>
      </div>
      <div class="row" ng-hide="clickedCalendar" style="height:36px;">
        <div style="position:absolute;left:0;">
          <button ng-click="addWeek()" class="button button-small button-clear"><i class="icon ion-android-add"></i> Add Week</button>
        </div>
        <div style="position:absolute;right:0;">
          <button ng-click="removeWeek()" class="button button-small button-clear"><i class="icon ion-android-remove"></i> Remove Week</button>
        </div>
      </div>
    </div>
    <div ng-hide="clickedCalendar" class="padding">
      <button ng-click="save()" class="button button-small button-positive"><i class="icon ion-android-done"></i> Save</button>
    </div>
    <div ng-show="clickedCalendar">
      <div class="card workout-card" ng-repeat="w in workouts">
        <div class="bar bar-calm static text-center" style="border:0;">
          <div class="title title-left">{{w.name}}</div>
          <div class="buttons buttons-right header-item">
            <span class="right-buttons">
              <button ng-click="openEditTypeModal(w)" class="button button-clear"><i class="icon ion-edit"></i></button>
            </span>
          </div>
        </div>
        <div class="list set-list">
          <div class="item" ng-repeat="s in w.sets track by $index">
            <h2 ng-class="{'border-top': $index!=0}">
              <span>{{ s.name }}</span>
              <span style="float:right;">
                <span ng-repeat="a in s.attributes track by $index">
                  <span>{{ a[1] }}</span>
                  <span>{{ a[0] }}</span>
                  <span ng-show="$index != s.attributes.length-1"> x </span>
                </span>
              </span>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="clickedCalendar" class="padding">
      <button class="button button-small button-balanced" ng-click="doWorkout(true, 'Add Workout', '', 'none')"><i class="icon ion-android-add"></i> Add Workout</button>
    </div>
  </ion-content>
  
  <script id="edit-type-modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar-dark">
        <h1 class="title">Details</h1>
        <div class="buttons buttons-right header-item">
          <span class="right-buttons">
            <button ng-click="closeEditTypeModal()" class="button button-clear"><i class="icon ion-android-close"></i></button>
          </span>
        </div>
      </ion-header-bar>
      <ion-content padding="true">
        <div class="padding">
          <button class="button button-small" ng-click="doWorkout(false, 'Editing '+w.name, w._id, 'justthis');closeEditTypeModal();">Change only this event</button><br><br>
          <button class="button button-small" ng-click="doWorkout(false, 'Editing '+w.name, w._id, 'series');closeEditTypeModal();">Change all events in series</button><br><br>
          <button class="button button-small" ng-click="doWorkout(false, 'Editing '+w.name, w._id, 'thisfuture');closeEditTypeModal();">Change this and future events</button>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>
</ion-view>